<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Set default value for log.level if not found in properties -->
    <property name="log.level" value="INFO"/>

    <!-- Load properties file first -->
    <property file="local.properties" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${log.level}">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
